.scrumTotal {
	color: #006580;
	font-size: 16px;
	font-weight: bold;
	float: right;
	margin: 3px 5px 0 0;
}
.list-title h2 {
	float: none !important;
	display: inline !important;
	margin-right: 0 !important;
	vertical-align: -4px;
}
.badge-points {
  background: #7EC569 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAfCAYAAADN/hxhAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADZJREFUeNp0xgkGADAQBMFs7uv/350IEdaYpikDEG728faIGomQNQqhajRC1xiEqbEI2+EIMACyIAbU7Y897gAAAABJRU5ErkJggg==) bottom left repeat-x !important;
  padding: 0px 5px !important;
  color: white;
  font-weight:bold;
}
.badge-points:empty {
	display: none;
}
