.list-total {
	color: #006580;
	font-size: 16px;
	font-weight: bold;
	float: right;
	margin: 3px 5px 0 0;
}
.list .list-title h2 {
    float: none !important;
    display: inline !important;
    margin-right: 0 !important;
    vertical-align: -4px;
}
.window-main-col p, .window-main-col h2 {
	display: block !important;
}
.badge-points {
    background-color: #006580 !important;
    padding: 0px 5px !important;
    color: white;
    font-weight:bold;
}

.picker {
    float: right;
    padding-top: 5px;
}

.point-value {
    background-color: #006580 !important;
    border-radius: 3px;
    padding: 2px 5px !important;
    font-size: 15px !important;
    color: white;
    font-weight:bold;
}
.badge-points:empty {
	display: none;
}
